<%= form_with(model: [@project, @task, comment]) do |form| %>
  <p><%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.label :attachment %><br>
    <%= form.text_field :attachment %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
