
<%= form_with(model: [@project, task]) do |form| %>
  <p><%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :deadline %><br>
    <%= form.date_select :deadline, {:include_blank => true, :default => nil} %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
