

<% @completed.each do |completed| %>
hello <%= completed.name %>
<% end %>


<% @tasks.each do |task| %>
<p>
  <% if task.completed %>
  <strike><%= task.name %></strike>
  <%= ' | ' + task.deadline.to_s + ' | ' unless task.deadline.nil? %>
  <%= link_to 'Details...', project_task_path(@project, task) %> |
  <%= link_to 'Destroy', project_task_path(@project, task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
  <%= ' | ' + task.deadline.to_s + ' | ' unless task.deadline.nil? %>
  <%= link_to 'Mark as complete', complete_project_task_path(@project, task), method: :patch %> |
  <%= link_to 'Details...', project_task_path(@project, task) %> |
  <%= link_to 'Destroy', project_task_path(@project, task.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
<% end %>
