<h1>Task <%= @task.name %></h1>
<%= link_to 'Edit', edit_project_task_path(@project, @task) %>

<div id="comments_wrapper">
  <%= render @task.comments %>
  <div id="form">
    <%= render "comments/form", comment: @task.comments.build %>
  </div>
</div>


<%= link_to 'Back', project_path(@project) %>
